* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

/* CSS para listas com ícones de check */
.list-check {
    list-style: none; /* Remove o bullet padrão */
    padding: 0;
  }
  
  .list-check li {
    position: relative;
    padding-left: 1.75rem; /* Espaço para o ícone */
    margin-bottom: 0.75rem; /* Espaçamento entre os itens */
    line-height: 1.6;
  }
  
  .list-check li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px; /* Ajuste vertical do ícone */
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='%2316a34a' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
  }